.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

#logo {
  margin-left: 2vh;
}

#title-buttons {
  width: 75%;
}

#comp-toolbar {
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.btn {
  margin: 1vh 1vh;
}

#sidebar-list {
  margin-top: 2vh;
}

#sidebar-button {
  width: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactTable {
  margin: 1vh 2vh;
}

.rt-resizable-header-content {
  font-weight: bold;
  font-size: 1.5em;
}

#title {
  text-align: left;
  margin: 1vh 1vh;
}

#component-header {
  display: flex;
}

#filter {
  margin: 2vh 2vh;
  text-align: right;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  display: inline-block;
}

#filter-dropdown {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  width: 18vh;
}

#platform-button {
  height: 4vh;
  width: 10vh;
}

#data-display-containter {
  text-align: center;
}

#data-display {
  margin: 3vh 3vh;
  text-align: left;
  border: 1px solid;
  padding: 1vh 1vh;
  background-color: lightblue;
  width: 50vh;
  display:inline-block;
}

#display-title {
  margin-bottom: 2vh;
}

#refresh {
  margin-left: 3vw;
}

input {
  border: 2px solid #666;
  height: 3.5vh;
  width: 30vw;
}
