#top-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-box {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;
    display: inline-block;
    width: 25%;
}

#message-data-box {
    text-align: center;
}

.message-icon {
    height: 3vh;
    width: 3vh;
    margin: 1vh 1vh;
}

#refresh {
    height: 2vh;
    width: 2vw;
}

#data-display {
    display: inline-block;
}

#time-input {
    display: inline-block;
}

#time-input {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 10vw;
}