

#top-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-box {
    margin: 2vh 2vh;
    padding: 1vh;
}

#message-data-box {
    text-align: center;
}

#message-data {
    height: auto;
    margin: 2vh 2vh;
    width: 80%;
    display: inline-block;
}

.message-icon {
    height: 3vh;
    width: 3vh;
    margin: 1vh 1vh;
}

#refresh {
    height: 2vh;
    width: 2vw;
    margin-left: 5vw;
}