#title {
    text-align: left;
    margin: 1vh 1vh;
  }
  
  #platform-header {
    display: flex;
  }
  
  #filter {
    margin: 2vh 2vh;
    text-align: right;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    display: inline-block;
  }

  #filter-dropdown {
    /* text-align: left; */
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    width: 18vh;
  }

  #platform-button {
    height: 4vh;
    width: 10vh;
  }

  #platform-display-containter {
    text-align: center;
  }

  #platform-display {
    margin: 3vh 3vh;
    text-align: left;
    border: 1px solid;
    padding: 1vh 1vh;
    background-color: lightblue;
    width: 50vh;
    display:inline-block;
  }

  #display-title {
    margin-bottom: 2vh;
  }

  #refresh {
    margin-left: 3vw;
  }